@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-nav{
  background-color: #000d2f;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
.custom-nav .nav-brand{
  text-decoration: none;
  margin: 0px 8px;
  padding: 16px 0px;
  font-weight: 700;
  color: #07b7da;
}
.custom-nav .nav-btn{
  margin: auto 0px;
}
.btn{
  padding: 6px 14px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  border:none;
  background-color: #07b7da;
}
